.home .products figure { width: 38%;}

.home .products li > div { 
    width: 55%;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .products li img {
    min-height: 250px;
    max-height: 250px;
}

.home .products h4 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 600;
    text-decoration: underline;
}

.home .products button {
    padding: 5px 5%;
    border: 0;
    border-radius: 2px;
    background-color: #dde1ff;
    text-transform: capitalize;
}

.home .products button:hover { background-color: #d4d9ff;}

.home .products h5 {
    font-size: 19px;
    font-weight: 600;
    color: #035f00;
}

.home .products h6 {
    color: #30303094;
    font-weight: 500;
}

.home .products .add-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .products .add-cart .add {
    padding: 8px 5% 6px;
    background-color: #067702;
    color: #f5f5f5;
    font-weight: 600;
}

.home .products .add-cart .remove {
    padding: 6px 5% 4px;
    border: 2px solid #067702;
    background-color: transparent;
    color: #067702;
    font-weight: 600;
}

.home .products .add-cart button:hover {background-color: #034e00;}
.home .products .add-cart .remove:hover { color: #f5f5f5;}