/* Home styling starts here */

.home { 
    padding-top: 60px;
    z-index: 1;
}

.home .slick-slider { z-index: 1; }

.home .slick-next,
.home .slick-prev {
    width: 31px;
    height: 31px;
    opacity: 0.5;
}

.home .slick-next:hover,
.home .slick-prev:hover { opacity: 1;}

.home .slick-prev {
    left: 1%;
    z-index: 2;
}

.home .slick-next { right: 1%; }

.home .slick-prev::before,
.home .slick-next::before {
    color: #0d045c;
    font-size: 35px;    
}

.home .available-products {
    padding: 12px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home .available-products h2 {
    width: 30%;
    padding: 5px 0;
    border-bottom: 3px solid #000;
    font-size: 22px;
    font-weight: 500;
}

.home .sort select{
    padding: 5px 2%;
    outline: none;  
}

.home .sort span {
    color: #696a9e;
    text-align: end;
    font-size: 15px;
    text-transform: capitalize;
}

.home .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .products li {
    box-sizing: border-box;
    width: 48%;
    min-height: 275px;
    max-height: 275px;
    padding: 0 1%;
    border: 1px solid #88888890;
    margin: 14px 0;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 8px 1px #aaaaaaa2;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.home .products li:hover { box-shadow: 0 0 10px 1px #888888a2; }

/* media query for 720px starts here */

@media only screen and (max-width: 720px) {
    
    .home { padding-top: 100px;}

    .home .products li {
        width: 80%;
        margin: 14px auto;
    }
}

/* media query for 720px ends here */

/* media query for 425px starts here */

@media only screen and (max-width: 426px) {

    .home { padding-top: 155px;}
    .home .available-products h2 { width: 50%;}

    .home .products li {
        width: 98%;
        margin: 14px auto;
    }
}

/* media query for 425px ends here */

/* Home styling ends here */